<li>
	{{burger}}

	<button class="change-devour" data-id="{{id}}" data-justEaten="{{devoured}}">
		{{#if justEaten}}Devour it!!{{else}}Ready to Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>